*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(245, 186, 195);
}

.question{
    height: auto;
    color: rgb(230, 56, 56);
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

h1{
    font-size: 100px;
}

.buttons{
    position: relative;
    top: 150px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

button{
    height: 80px;
    width: 180px;
    background-color: burlywood;
}

h3{
    font-size: 26px;
}

.no{
    transition: all 0.0s ease;
    
}


.no.left{
    left:0;
    top:50%;
    margin-top: -100px;
    transition: all 0.0s ease;
} 

.no.right{
    right:0;
    left:50%;
    transition: all 0.0s ease;
}

.no.bottom{
    bottom:0;
    left:40%;
    margin-left: -10px;
    transition: all 0.0s ease;
}

.no.top{
    top:0;
    left:50%
}

.no.left.move{
    left:30%;
    transform:translate(0,-30%);
}

.no.right.move{
    right:100%;
    transform: translate(100%,0);
}

.no.top.move{
    top:100%;
    transform: translate(0,-100%);
}

.no.bottom.move{
    bottom:100%;
    transform: translate(0,100%);
} 

@media screen and (max-width:900px)
{
      
    button{
        height: 70px;
        width: 150px;
    }
}

@media screen and (max-width:800px){
    h1{
        font-size: 88px;
    }
}

@media screen and (max-width:700px){
    h1{
        font-size: 88px;
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 84px;
    }
}

@media screen and (max-width:500px){
    h1{
        font-size: 80px;
    }
}

@media screen and (max-width:400px){
    .question{
        height: 200px;
    }
    h1{
        font-size: 60px;
    }

    h3{
        font-size: 30px;
    }
    .buttons{
        top: 100px;
    }
    button{
        height: 50px;
        width: 80px;
    }
}